  
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial;
    margin: 0;
}
nav {
    width: 250px;
    height: 100%;
    background-color: #000d33;
    position: fixed;
    left: 0;
    top: 0;  
    overflow: auto;
    border-right: 2px solid #000d33;
}
 nav header {
    font-size: 20px;
    color: #fff;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.6rem;
    border-bottom: 1px solid #fff;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
 }
nav ul li {
    padding: 10px 20px;
    font-size: 18px;
    list-style-type: none;
    border-bottom: 1px solid #fff;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
nav ul li:hover {
    background-color: #fff;
    border: none;
}
nav ul li:hover a{
    color: #000d33;
}
main {
    overflow-x: hidden;
    margin: 10px 50px 10px 300px;
}
img {
    margin: 5px 0 20px 0;
    width: 100%;
}
header {
    padding: 1.2rem 0 1.2rem 1.2rem;
    font-size: 25px;
    font-weight: 600;
} 
p, li span {
    padding: 10px 0;
    line-height: 1.8rem;
    font-size: 1.2rem;
}
ul li p, .list-title, li span {
    line-height: 2rem;
    padding: 0;
}
  code {
    background-color: whitesmoke;
    color: #000d33;
    display: block;
    font-size: 16px;
    padding: 1.5rem 0;
    margin: 1.2rem 0;
    border-radius: 5px;
 }
 span {
    color: #00aa01;
 }
.blue-text {
    color: blue;
}
table {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid #000d33;
    text-align: center;
}
thead {
    background-color: #000d33;
    color: #fff;
}
thead th {
    padding: 10px 0;
}
tbody td {
    padding: 5px;
}
th, td {
    font-weight: 500;
    font-size: 20px;
    border-left: 2px solid #000d33;
    border-right: 2px solid #000d33;
  }
.note {
    padding-left: 20px;
    border-left: 4px solid gray;
}
.wish {
    font-style: italic;
}
#reference-text {
    background-color: #000d33;
    color: white;
    padding: 15px 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: #00aa01;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    nav {
        width: 100%;
        height: 250px;
        position: absolute;
        top: 0;  
    }
     main {
        margin: 300px 50px 10px 50px;
    }
    img {
        width: 100%;
    }
    code {
       font-size: 0.75rem;
       font-weight: bold;   
    }
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
    code {
        font-size: 12px;
        font-weight: bold;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    code {
        font-size: 13px;
    }
}
@media only screen and (max-width: 500px) {
    img {
        width: 100%;
    }
    code {
        font-size: 0.5rem;
        font-weight: bold;
    }
}
